*{
    box-sizing: border-box;
}
body{
    align-items: center;
    align-content: center;
}
#A4{
    margin: 4%;
    min-height: 1400px;
    min-width: 700px;
    display: flex;
    border: 2px solid #000;
}
.conteneurG{
    width: 35%;
    padding: 3%;
    background-color: #051630;
    align-content: center;
    align-items: center;
    
}
.conteneurG .image{
    align-items: center;
    align-content: center;
    height: auto;
    width: 100%;
}
.image img{
    border-radius: 50%;
    height: auto;
    max-width: 300px;
    width: 100%;
}
.conteneurD{
    width: 65%;
    padding: 10px 10px 0px 10px;
    align-items: center;
    align-content: center;

}
.conteneurD .info{
    width: 100%;
    margin-top: 50px;

}
.conteneurG  h3 {
    color: #f0f8ff;
}
.conteneurG  h5 {
    color: #f0f8ff;
    margin: -1px 0px 0px 0px;
}

.conteneurG .ecrit{
    color: #505F73;
    margin-left: 2px;
    width: auto;
    height: auto;
}
.line{
    margin-top: -20px;
    border: 2px solid #0E78A6;
    width: 35px;
    border-radius: 18%;
}
.conteneurG .ecrit1{
    color: #505F73;
    margin-left: 2px;
    text-align: left;
    line-height: 24px;
}
.align{
    display: flex;
}
#date1{
    margin-top: 20px;
    margin-left: auto;
}
.interligne{
    padding: -2%;
}
