*{
    box-sizing: border-box;
}
body{
    align-items: center;
    align-content: center;
}
#A4{
    margin: 2%;
    min-height: 1400px;
    min-width: 700px;
    display: flex;
    border: 2px solid #000;
}
.conteneurG{
    width: 35%;
    padding: 3%;
    background-color: #051630;
}
.image{
    margin: 10px auto 10px auto;
}
.image img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.conteneurD{
    width: 65%;
}
.conteneurD .info{
    position: relative;
    margin-top: 50px;

}
h3{
    color: #f0f8ff;
}
.conteneurG p{
    color: #505F73;
}
