*{
    box-sizing: border-box;
}
body{
    align-items: center;
    align-content: center;
}
#A4{
    margin: 2%;
    min-height: 1400px;
    min-width: 700px;
    display: flex;
    border: 2px solid #000;
}
.conteneurG{
    width: 35%;
    padding: 3%;
    background-color: #051630;
}
.image{
    margin: 10px auto 10px auto;
    height: auto;
    width: auto;
}
.image img{
    border-radius: 50%;
    height: auto;
    width: auto;
}
.conteneurD{
    width: 65%;
    padding: 0px;
    margin: 0px;
}
.conteneurD .info{
    position: relative;
    margin-top: 50px;

}
.conteneurG  h3 {
    color: #f0f8ff;
}
.conteneurG  h5 {
    color: #f0f8ff;
    margin: -1px 0px 0px 0px;
}

.conteneurG .ecrit{
    color: #505F73;
    margin-left: 2px;
}
.line{
    margin-top: -20px;
    border: 2px solid #1E89B7;
    width: 35px;
}
.conteneurG .ecrit1{
    color: #505F73;
    margin-left: 2px;
    text-align: left;
    line-height: 24px;
}
